<html>
<head>
    <title>Confirmation</title>
</head>
<body>
    <h1>We have received your confirmation request</h1>
    <p>If everything is ok, we will sign your OpenPGP key and send it back to you.</p>
    <br/>
    <p>Please report bugs and issues here:
        <a href="https://github.com/TNG/openpgp-validation-server/issues/">https://github.com/TNG/openpgp-validation-server/issues/</a>
</body>
</html>
