<html>
<head>
    <title>Confirmation</title>
</head>
<body>
    <h1>We have received your confirmation request</h1>
    <p>If everything is ok, we will send your signed GPG key to the email addresses specified by your public GPG key.</p>
    <br/>
    <p>Please report bugs and issues here:
        <a href="https://github.com/TNG/gpg-validation-server/issues/">https://github.com/TNG/gpg-validation-server/issues/</a>
</body>
</html>
