Hi!

Please confirm the validation of your GPG key by opening the following link in your web browser:
http://localhost:8080/confirm/{{.Nonce}}

After the confirmation, we will send you your signed GPG key.

This validation was requested by "{{.Requester}}".
If you did not request this, please ignore this email.

--
GPG Validation Server
https://github.com/TNG/gpg-validation-server
