Hi!

We successfully verified your GPG key {{.Fingerprint}}.
Attached to this email you will find your public key signed by the validation server.

--
GPG Validation Server
https://github.com/TNG/gpg-validation-server
