Hi!

We successfully verified your GPG key.
Attached to this email you will find your public key signed by the validation server.

If you did not request this, please ignore this email.

--
GPG Validation Server
https://github.com/TNG/gpg-validation-server
