Hi!

We successfully verified your OpenPGP key {{.Fingerprint}}.
Attached to this email you will find your public key signed by the validation server.

--
OpenPGP Validation Server
https://github.com/TNG/openpgp-validation-server
